source/html/base.pug
- var navigation = ['Преимущества', 'В наличии', 'Доставка и оплата', 'Контакты'];
- var navigationId = ['five', 'stock', 'experience', 'contacts']
- var phone = 89823445678;

doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap&subset=cyrillic" rel="stylesheet")

		script( src="js/startFunction.min.js")
		title Project
	body
		header(class="header")
			div(class="container")
				div(class="row")
					div(class="col-12")
						nav(class="navigation")
							a(class="logo" href="/")
								img(class="lazyload" data-src="images/logo.svg" alt="img")
							ul(class="d-none d-lg-flex")
								each val, index in navigation
									li()
										a(class="navigation__item" href="#"+ navigationId[index]+"")
											= val
								li()
									button(class="btn" data-toggle="modal" data-target="#modalCall")
										| Заказать звонок
							div(class="burger d-lg-none")
								<svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
									<path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
									<path class="line middle" d="m 30,50 h 40"></path>
									<path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
								</svg>
		div(class="navigation__mobile")
			div(class="navigation__mobile__content")
				ul()
					each val, index in navigation
						li()
							a(class="navigation__item" href="#"+ navigationId[index]+"")
								= val
		div(class="page")
			div(class="content")
				block content
		footer(class="footer" id="contacts")
			div(class="container")
				div(class="row align-items-center")
					div(class="col-lg-3")
						a(class="logo logo_footer" href="/")
								svg( width="232" height="60" viewBox="0 0 232 60" fill="none" xmlns="http://www.w3.org/2000/svg")
									<path d="M10.024 39.192C17.608 39 19.384 33.096 19.96 32.52C20.536 31.944 19.912 31.032 19.096 31.896C18.28 32.76 16.888 37.56 9.688 37.608C2.488 37.656 5.32 24.36 5.992 21C6.664 17.64 11.128 1.608 17.848 1.608C21.928 1.608 22.168 4.92 22.024 5.784C21.88 6.648 22.936 6.936 22.936 5.928C22.84 3.864 22.936 0.647999 17.944 0.647999C10.456 0.647999 3.64 9.816 1.528 20.76C-0.584 31.704 2.44 39.384 10.024 39.192ZM25.3248 38.856C27.1008 38.04 28.2048 35.448 29.5968 32.664C29.9328 31.992 30.7968 29.496 31.3248 29.208C32.7168 28.92 34.8768 27.96 36.9408 25.656C36.9888 25.56 37.1328 25.368 37.0848 25.224C37.0848 25.08 37.1808 24.936 36.9888 24.888C36.8448 24.696 36.5568 24.696 36.3648 24.888C36.1248 25.08 35.9328 25.368 35.4528 25.752C34.2528 26.76 33.1968 27.48 31.7568 27.624C31.6608 27.528 31.9488 26.28 31.9488 25.08C31.9488 24.216 31.8047 23.448 31.3728 22.728C31.2288 22.488 31.0368 22.2 30.7968 22.056C30.4128 21.864 30.2208 21.528 29.9808 21.192C29.5968 20.568 29.2608 20.28 28.5408 20.04C28.2528 19.944 27.4848 19.944 27.1008 19.992C25.8047 20.136 24.5088 20.76 23.5968 21.72C20.9568 24.408 20.2368 27.288 19.6608 29.976C19.4207 31.56 19.3727 34.632 19.9008 36.312C20.6208 38.568 23.1648 39.912 25.3248 38.856ZM24.7008 37.512C23.7408 37.656 23.1648 35.304 23.1168 34.632C23.0208 33.336 23.0688 29.784 23.5488 27.336C24.3648 23.304 25.9008 21.336 27.8688 21.048C28.5408 20.952 28.8288 22.008 28.8288 22.008C27.2448 22.824 27.0048 24.552 27.1488 25.8C27.2448 27 28.1088 28.392 29.5008 28.92C29.8848 29.064 29.7408 29.784 29.5968 30.12C28.7328 32.328 27.9168 33.864 27.0528 35.352C26.5728 36.216 25.6128 37.368 24.7008 37.512ZM30.4608 27.336C30.0768 27.384 29.4528 26.856 29.2608 26.568C28.6848 25.704 28.4928 25.224 28.7328 23.784C28.7808 23.544 29.0688 23.016 29.6448 22.92C30.1248 22.824 30.6528 23.256 30.7488 23.88C30.8448 24.312 30.8928 24.648 30.8928 25.224C30.8928 25.512 30.7488 27.288 30.4608 27.336ZM39.9944 40.152C41.7704 39.528 42.2984 38.808 43.3544 36.696C43.7864 35.832 44.7944 33.384 45.5624 29.928C45.5624 29.928 45.7544 29.688 46.1864 29.64C46.4264 29.592 46.7144 29.592 47.0504 29.496C48.7784 29.208 50.3144 27.72 51.7064 25.992C51.7544 25.896 51.8984 25.704 51.8504 25.56C51.8504 25.416 51.8504 25.224 51.6584 25.176C51.5144 24.984 51.2264 24.984 51.0344 25.176C50.7944 25.368 50.6024 25.608 50.1224 26.184C49.4984 26.904 48.8744 27.672 47.6744 28.056C47.2424 28.2 46.8584 28.344 46.4264 28.392C46.1384 28.392 45.4664 28.392 45.4664 28.392L45.3224 27.528C45.0824 26.232 45.0344 24.552 43.6904 23.928C43.0664 23.64 42.1064 23.592 41.5304 24.024C40.7144 24.6 40.4744 25.32 40.4744 26.424C40.4744 27.288 40.9544 28.248 41.6744 28.728C42.1544 29.016 42.6824 29.304 43.2584 29.544C43.8344 29.784 44.0264 29.832 44.0264 29.976C43.5464 33.048 43.2584 34.392 42.0584 36.552C41.5304 37.512 40.4264 38.664 39.3224 38.472C38.7464 38.376 38.1704 37.416 38.1224 36.792C37.5944 34.296 37.6424 32.664 37.7864 30.456C37.8824 29.352 38.0744 28.296 38.2664 27.192C38.6024 25.272 39.8984 23.976 39.8984 23.976C45.1304 16.92 51.0824 2.856 47.6264 0.839999C46.4264 0.0719976 43.9784 1.272 42.5864 3.048C39.8504 5.784 37.7864 11.544 36.7784 14.76C34.5704 21.672 33.6584 29.592 33.6104 31.08C33.3224 34.92 34.9544 37.992 35.3864 38.472C36.6824 39.96 38.6024 40.632 39.9944 40.152ZM39.0824 22.296C38.3624 21.864 39.4184 17.88 39.7064 16.152C40.0424 14.28 41.4824 9.336 42.0584 7.608C42.7304 5.832 43.8344 3.384 44.9864 2.472C45.5624 2.04 46.9064 1.512 47.4824 2.472C48.1064 3.48 45.7064 10.632 45.0344 12.264C43.6424 15.768 42.6344 17.16 40.7624 20.472C40.2824 21.336 39.4664 22.536 39.0824 22.296ZM44.5544 28.44C44.4104 28.536 43.4504 28.104 42.7784 27.288C42.2504 26.712 42.2984 25.752 42.8264 25.368C43.3064 25.032 43.7864 25.512 43.9784 25.992C44.3144 26.76 44.7464 28.248 44.5544 28.44ZM54.7488 58.872C55.8047 59.352 57.2448 59.304 58.5408 58.2C60.8928 56.184 62.2848 53.016 63.2448 48.552C63.6768 46.44 64.3968 43.704 64.9248 40.728C65.2608 38.856 65.5488 37.368 65.6448 37.08C66.8448 35.64 68.9088 33.768 70.2528 30.744C70.6368 29.928 71.1648 28.728 71.2608 28.344C71.4048 27.96 71.3568 27.432 70.9728 27.336C70.7328 27.24 70.3968 27.864 70.3488 28.056C69.6288 29.736 67.9008 33.864 65.7888 34.92C65.3088 35.16 65.3088 34.968 65.3568 34.44C65.5968 30.36 65.9808 26.808 66.0288 25.32C66.1728 23.496 66.0768 22.344 65.5968 21.096C65.3568 20.424 64.2048 20.136 63.6768 20.712C61.8528 22.728 59.4528 29.4 58.9728 30.264C58.0608 31.896 57.4848 33.432 55.6128 35.64C55.1808 36.12 54.1728 36.792 53.8368 36.456C53.3568 36.216 53.5968 34.632 53.7888 33.48C54.9408 26.472 54.5568 29.304 55.1808 22.968C55.1808 21.96 55.3248 21.192 54.7968 20.328C54.6048 19.992 54.2688 19.656 53.8848 19.704C53.4528 19.752 53.0688 19.896 52.8288 20.232C51.7248 21.432 51.4368 23.4 51.1008 25.656C50.7648 27.528 48.9407 35.976 49.9488 37.896C50.6208 39.144 51.5808 39.288 53.0208 39C53.9808 38.808 55.0368 37.992 55.3728 37.656C57.4368 36.024 58.1088 35.112 59.4048 32.52L62.6688 26.184C62.5728 30.264 62.0448 34.344 61.2288 38.424C60.5088 39.816 58.6848 42.216 57.3408 44.184C54.3168 48.6 51.1968 57.24 54.7488 58.872ZM54.9888 57.624C53.3088 56.664 54.8448 50.712 56.7648 47.256C56.9568 46.92 60.8448 40.536 61.1808 40.728C61.4688 40.776 61.4688 41.4 60.9888 43.752C60.1248 48.12 58.9728 52.392 57.8208 55.512C57.1968 57.192 56.2848 58.344 54.9888 57.624ZM72.4728 38.952C72.9048 38.856 73.6248 38.52 74.4408 37.704C75.3528 36.888 76.0728 35.784 76.8888 34.152C77.3688 33.144 77.6568 32.616 78.2328 31.512C78.8568 30.456 79.6728 28.728 80.4888 27.72C80.6328 27.528 80.8248 27.48 80.9208 27.528C81.0648 27.576 81.0648 27.768 81.0648 27.912C81.0648 31.944 79.9608 34.392 80.3448 36.264C80.4888 37.08 80.8728 38.28 81.9768 38.808C84.1368 39.72 85.3848 39 87.4488 35.832C88.4568 34.344 89.5128 31.8 90.2328 29.976L91.1448 27.72C91.2408 27.528 91.4808 27.48 91.5768 27.528C91.7208 27.576 91.7208 27.768 91.7208 27.912C91.7208 31.944 90.6168 34.392 91.0008 36.264C91.1448 37.08 91.5288 38.28 92.6328 38.808C94.7928 39.72 97.4808 39 99.5448 35.832C101.129 33.432 103.001 28.2 103.145 27.816C103.289 27.384 103.529 26.904 103.577 26.376C103.577 26.184 103.433 25.992 103.241 25.992C103.097 25.944 103.049 25.944 102.953 25.992C102.665 26.28 102.473 26.616 102.377 27.048C101.417 30.456 97.6248 38.184 95.2728 36.84C94.2648 36.264 94.4088 35.112 94.8408 32.28C95.4167 28.728 95.5608 27.144 95.7528 21.816C95.7528 21.336 95.4648 20.856 95.1288 20.568C94.6008 20.04 92.3448 20.856 92.0088 21.384C90.8568 23.016 90.7128 25.608 90.3768 26.616C89.6088 29.016 88.8888 30.552 88.1208 32.376C86.7288 35.208 85.1928 37.656 84.6168 36.84C83.9448 35.88 83.7528 35.112 84.1848 32.28C84.7608 28.728 84.9048 27.144 85.0968 21.816C85.0968 21.336 84.8088 20.856 84.4728 20.568C84.1848 20.28 83.1288 20.376 82.8888 20.808C82.6488 21.24 82.2648 21.816 81.9768 22.248C80.8248 23.88 79.8168 26.472 79.3848 27.24C78.2328 29.304 76.6968 32.136 75.9288 33.576C74.9208 35.448 74.2488 37.416 73.3848 36.552C73.0488 35.976 73.3368 33.288 73.6248 31.752C74.0568 29.688 74.8728 25.272 75.0648 22.44C75.1128 21.912 74.9688 20.664 74.7288 20.04C74.3448 19.416 73.9128 19.464 73.2408 19.608C72.5688 19.752 72.3288 20.232 72.2328 20.52C71.7048 21.864 70.9848 25.512 70.7448 26.808C70.1688 29.736 69.1608 33.672 69.2088 37.272C69.2088 38.232 70.4088 39.384 72.4728 38.952ZM92.2008 44.76C92.9688 44.904 93.6888 43.992 92.1048 43.272C88.2168 41.544 77.4648 42.12 73.8168 41.928C71.5128 41.784 72.2328 43.704 76.1208 43.32C78.9528 43.032 85.7688 43.56 92.2008 44.76ZM122.691 25.992C122.547 25.944 122.499 25.944 122.403 25.992C122.115 26.28 121.923 26.616 121.827 27.048C120.867 30.456 117.891 38.232 114.099 37.848C112.227 37.656 112.898 29.784 112.562 28.2C112.323 27 111.171 25.992 110.403 25.896C112.131 24.12 113.715 22.584 114.243 22.248C115.299 21.528 116.211 20.28 116.931 20.808C117.651 21.336 117.987 20.376 117.507 20.04C116.403 19.224 114.627 20.328 113.571 21.144C110.931 23.208 107.235 27.72 106.803 28.056C106.371 28.392 106.035 28.632 105.795 28.824C106.131 26.712 106.515 24.264 106.659 22.44C106.707 21.912 106.562 20.664 106.323 20.04C105.939 19.416 105.507 19.464 104.835 19.608C104.163 19.752 103.923 20.232 103.827 20.52C103.299 21.864 102.579 25.512 102.339 26.808C101.763 29.736 100.803 33.672 100.803 37.272C100.803 39.336 102.963 40.392 104.403 38.424C104.835 37.8 104.931 34.68 105.075 32.76L105.939 31.32C106.467 30.408 107.475 29.112 108.627 27.816C108.819 28.008 108.915 28.488 108.963 29.736C109.011 31.752 108.195 37.896 110.931 39C113.091 39.864 116.931 39 118.995 35.832C120.579 33.432 122.451 28.2 122.595 27.816C122.739 27.384 122.979 26.904 123.027 26.376C123.027 26.184 122.883 25.992 122.691 25.992ZM124.852 39.336C127.924 38.76 129.46 34.392 130.9 31.176C130.948 31.08 131.188 30.648 131.572 30.648C131.716 30.648 131.86 30.792 131.86 31.032C131.908 31.848 131.86 32.664 131.86 33.48C131.86 34.056 131.908 34.68 131.956 35.304C132.052 36.552 132.628 38.28 133.876 38.808C136.036 39.72 138.724 39 140.788 35.832C142.372 33.432 144.244 28.2 144.388 27.816C144.532 27.384 144.772 26.904 144.82 26.376C144.82 26.184 144.676 25.992 144.484 25.992C144.34 25.944 144.292 25.944 144.196 25.992C143.908 26.28 143.716 26.616 143.62 27.048C142.66 30.456 139.108 37.56 136.516 36.84C136.036 36.696 135.652 36.264 135.652 35.544C135.652 33.384 135.652 31.272 135.7 29.16C135.7 27.24 135.7 25.32 135.556 23.4C135.556 22.968 135.364 22.632 135.172 22.248C134.836 21.816 134.26 21.864 133.876 22.248C133.156 22.92 133.252 23.64 133.012 25.128C132.82 25.512 132.676 25.896 132.484 26.232C131.956 27.288 131.38 28.392 130.756 29.448C129.076 32.568 128.02 35.208 126.148 36.648C125.524 37.128 124.324 36.984 124.132 35.976C123.412 32.568 123.892 26.76 126.436 23.064C127.876 21 129.46 20.232 130.948 20.712C131.956 20.904 130.18 23.928 131.38 23.928C131.572 23.928 131.716 23.928 132.004 23.64C132.484 22.824 132.58 22.296 132.58 21.384C132.58 20.376 132.004 19.512 131.044 19.416C128.452 19.032 125.428 20.952 123.796 23.208C120.388 27.864 119.524 33.768 120.916 37.32C121.636 38.664 123.316 39.624 124.852 39.336ZM165.93 39.192C173.514 39 175.29 33.096 175.866 32.52C176.442 31.944 175.818 31.032 175.002 31.896C174.186 32.76 172.794 37.56 165.594 37.608C158.394 37.656 161.226 24.36 161.898 21C162.57 17.64 167.034 1.608 173.754 1.608C177.834 1.608 178.074 4.92 177.93 5.784C177.786 6.648 178.842 6.936 178.842 5.928C178.746 3.864 178.842 0.647999 173.85 0.647999C166.362 0.647999 159.546 9.816 157.434 20.76C155.322 31.704 158.346 39.384 165.93 39.192ZM181.231 38.856C183.007 38.04 184.111 35.448 185.503 32.664C185.839 31.992 186.703 29.496 187.231 29.208C188.623 28.92 190.783 27.96 192.847 25.656C192.895 25.56 193.039 25.368 192.991 25.224C192.991 25.08 193.087 24.936 192.895 24.888C192.751 24.696 192.463 24.696 192.271 24.888C192.031 25.08 191.839 25.368 191.359 25.752C190.159 26.76 189.103 27.48 187.663 27.624C187.567 27.528 187.855 26.28 187.855 25.08C187.855 24.216 187.711 23.448 187.279 22.728C187.135 22.488 186.943 22.2 186.703 22.056C186.319 21.864 186.127 21.528 185.887 21.192C185.503 20.568 185.167 20.28 184.447 20.04C184.159 19.944 183.391 19.944 183.007 19.992C181.711 20.136 180.415 20.76 179.503 21.72C176.863 24.408 176.143 27.288 175.567 29.976C175.327 31.56 175.279 34.632 175.807 36.312C176.527 38.568 179.071 39.912 181.231 38.856ZM180.607 37.512C179.647 37.656 179.071 35.304 179.023 34.632C178.927 33.336 178.975 29.784 179.455 27.336C180.271 23.304 181.807 21.336 183.775 21.048C184.447 20.952 184.735 22.008 184.735 22.008C183.151 22.824 182.911 24.552 183.055 25.8C183.151 27 184.015 28.392 185.407 28.92C185.791 29.064 185.647 29.784 185.503 30.12C184.639 32.328 183.823 33.864 182.959 35.352C182.479 36.216 181.519 37.368 180.607 37.512ZM186.367 27.336C185.983 27.384 185.359 26.856 185.167 26.568C184.591 25.704 184.399 25.224 184.639 23.784C184.687 23.544 184.975 23.016 185.551 22.92C186.031 22.824 186.559 23.256 186.655 23.88C186.751 24.312 186.799 24.648 186.799 25.224C186.799 25.512 186.655 27.288 186.367 27.336ZM213.085 27.576C212.941 27.528 212.653 27.528 212.461 28.008C211.501 30.504 209.485 34.248 208.669 35.256C207.469 36.744 206.605 37.464 205.693 37.464C205.213 37.464 204.205 37.128 204.301 35.688C204.349 34.968 204.973 31.368 205.453 28.776C205.837 26.664 206.461 23.496 206.461 21.528C206.461 20.28 205.309 19.656 204.157 20.184C203.917 20.28 203.629 20.904 203.533 21.144C203.197 22.584 202.621 25.416 202.093 28.008C199.165 28.824 196.333 29.448 194.221 29.784L194.413 28.776C194.797 26.664 195.421 23.496 195.421 21.528C195.421 20.28 194.269 19.656 193.117 20.184C192.877 20.28 192.589 20.904 192.493 21.144C192.109 22.872 191.389 26.568 190.717 29.448L190.573 30.024C188.221 30.36 188.125 31.848 189.853 31.56L190.237 31.512C189.949 32.808 189.565 34.68 189.181 37.512C188.845 39.816 192.157 42.072 193.261 35.688C193.261 35.16 193.597 33.144 193.981 31.08C196.429 30.792 199.357 30.456 201.661 29.88C201.421 30.984 201.085 32.76 200.941 33.672C200.173 37.848 201.853 39.816 205.309 39.192C208.813 38.568 211.213 33.48 212.653 29.784C212.893 29.16 213.085 28.824 213.277 28.296C213.373 28.008 213.373 27.672 213.085 27.576ZM231.287 26.52C231.143 26.472 230.855 26.472 230.663 26.952C229.703 29.448 228.407 32.088 226.487 34.92C225.479 36.456 224.039 37.56 223.127 37.56C222.647 37.56 222.023 37.128 222.119 35.688C222.167 34.968 223.175 30.744 223.655 28.152C224.039 26.04 224.663 22.872 224.663 20.904C224.663 19.656 223.511 19.032 222.359 19.56C222.215 19.608 222.071 19.848 221.927 20.088C221.063 19.512 219.719 18.984 217.655 19.704C215.591 20.424 213.671 21.864 212.711 24.312C211.751 26.76 211.799 30.936 216.263 30.744C217.415 30.696 218.279 30.504 218.903 30.168C218.087 32.136 217.127 34.392 216.071 36.12C215.063 37.704 214.295 38.088 213.239 37.8C211.703 37.368 211.847 35.736 212.231 33.912C212.519 32.568 210.839 32.616 210.503 33.432C209.783 35.112 210.023 38.184 212.855 38.808C215.303 39.336 217.031 38.28 219.815 30.696L219.287 33.672C218.663 37.608 219.671 39.912 223.127 39.192C226.103 38.568 229.511 32.424 230.951 28.728C231.191 28.104 231.383 27.768 231.575 27.24C231.671 26.952 231.575 26.616 231.287 26.52ZM216.647 29.256C214.199 27.96 216.407 21.912 218.327 20.568C219.719 19.608 220.919 20.232 221.639 20.856C221.495 21.624 221.303 22.728 221.111 23.976C220.151 26.712 218.663 30.312 216.647 29.256Z" fill="#fff"/>

						div(class="social pt-4")
							a(href="#" class="social__link")
								img(class="lazyload" data-src="images/inst.svg" alt="img")
							a(href="#" class="social__link ml-4")
								img(class="lazyload" data-src="images/vk.svg" alt="img")
					div(class="col-lg-3 d-flex flex-column pt-5 pt-lg-0")
						a(class="tel" href="tel:8 982 344 56 78")
							img(class="mr-3 lazyload" data-src="images/tel.svg" alt="img")
							| 8 982 344 56 78
						a(class="tel mt-5" href="mail:info@mail.ru")
							img(class="mr-3 lazyload" data-src="images/mail.svg" alt="img")
							| info@mail.ru

		div(id="preloader-cube")
			div(class="caption")
				div(class="cube-loader")
					div(class="cube loader-1")
					div(class="cube loader-2")
					div(class="cube loader-4")
					div(class="cube loader-3")
		div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
			div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
				div(class="modal-content")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					div(class="modal-header")
						span
							| Форма заявки
					div(class="modal-body")
						form(class="form")
							input(type="text" placeholder="Имя*")
							input(type="tel" class="my-4" placeholder="Телефон*")
							div(class="d-flex align-items-start justify-content-center py-3 pb-4")
								label(class="m-0")
									input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
									span(for="checkbox" class="checkbox__label")
								p( class="form__info")
									| Согласен с политикой обработки
									a(href="#" class="form__info")
										| персональных данных
							div(class="d-flex justify-content-center w-100")
								button(class="btn btn__flare" type="submit" )
									| Записаться
		div(class="btn-to-top")
			div(class="btn-to-top__content d-flex justify-content-center align-items-center")
				svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
					g(id="arrow-up" transform="translate(-1035.793 -4349.188)")
						g(id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)")
							path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")
		
	script(src="js/main.min.js")

release/base.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tenor+Sans&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navigation"><a class="logo" href="/"><img class="lazyload" data-src="images/logo.svg" alt="img"></a>
              <ul class="d-none d-lg-flex">
                <li><a class="navigation__item" href="#five">Преимущества</a></li>
                <li><a class="navigation__item" href="#stock">В наличии</a></li>
                <li><a class="navigation__item" href="#experience">Доставка и оплата</a></li>
                <li><a class="navigation__item" href="#contacts">Контакты</a></li>
                <li>
                  <button class="btn" data-toggle="modal" data-target="#modalCall">Заказать звонок</button>
                </li>
              </ul>
              <div class="burger d-lg-none"><svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
<path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
<path class="line middle" d="m 30,50 h 40"></path>
<path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
</svg>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="navigation__mobile">
      <div class="navigation__mobile__content">
        <ul>
          <li><a class="navigation__item" href="#five">Преимущества</a></li>
          <li><a class="navigation__item" href="#stock">В наличии</a></li>
          <li><a class="navigation__item" href="#experience">Доставка и оплата</a></li>
          <li><a class="navigation__item" href="#contacts">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="page">
      <div class="content">
      </div>
    </div>
    <footer class="footer" id="contacts">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3"><a class="logo logo_footer" href="/">
              <svg width="232" height="60" viewBox="0 0 232 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.024 39.192C17.608 39 19.384 33.096 19.96 32.52C20.536 31.944 19.912 31.032 19.096 31.896C18.28 32.76 16.888 37.56 9.688 37.608C2.488 37.656 5.32 24.36 5.992 21C6.664 17.64 11.128 1.608 17.848 1.608C21.928 1.608 22.168 4.92 22.024 5.784C21.88 6.648 22.936 6.936 22.936 5.928C22.84 3.864 22.936 0.647999 17.944 0.647999C10.456 0.647999 3.64 9.816 1.528 20.76C-0.584 31.704 2.44 39.384 10.024 39.192ZM25.3248 38.856C27.1008 38.04 28.2048 35.448 29.5968 32.664C29.9328 31.992 30.7968 29.496 31.3248 29.208C32.7168 28.92 34.8768 27.96 36.9408 25.656C36.9888 25.56 37.1328 25.368 37.0848 25.224C37.0848 25.08 37.1808 24.936 36.9888 24.888C36.8448 24.696 36.5568 24.696 36.3648 24.888C36.1248 25.08 35.9328 25.368 35.4528 25.752C34.2528 26.76 33.1968 27.48 31.7568 27.624C31.6608 27.528 31.9488 26.28 31.9488 25.08C31.9488 24.216 31.8047 23.448 31.3728 22.728C31.2288 22.488 31.0368 22.2 30.7968 22.056C30.4128 21.864 30.2208 21.528 29.9808 21.192C29.5968 20.568 29.2608 20.28 28.5408 20.04C28.2528 19.944 27.4848 19.944 27.1008 19.992C25.8047 20.136 24.5088 20.76 23.5968 21.72C20.9568 24.408 20.2368 27.288 19.6608 29.976C19.4207 31.56 19.3727 34.632 19.9008 36.312C20.6208 38.568 23.1648 39.912 25.3248 38.856ZM24.7008 37.512C23.7408 37.656 23.1648 35.304 23.1168 34.632C23.0208 33.336 23.0688 29.784 23.5488 27.336C24.3648 23.304 25.9008 21.336 27.8688 21.048C28.5408 20.952 28.8288 22.008 28.8288 22.008C27.2448 22.824 27.0048 24.552 27.1488 25.8C27.2448 27 28.1088 28.392 29.5008 28.92C29.8848 29.064 29.7408 29.784 29.5968 30.12C28.7328 32.328 27.9168 33.864 27.0528 35.352C26.5728 36.216 25.6128 37.368 24.7008 37.512ZM30.4608 27.336C30.0768 27.384 29.4528 26.856 29.2608 26.568C28.6848 25.704 28.4928 25.224 28.7328 23.784C28.7808 23.544 29.0688 23.016 29.6448 22.92C30.1248 22.824 30.6528 23.256 30.7488 23.88C30.8448 24.312 30.8928 24.648 30.8928 25.224C30.8928 25.512 30.7488 27.288 30.4608 27.336ZM39.9944 40.152C41.7704 39.528 42.2984 38.808 43.3544 36.696C43.7864 35.832 44.7944 33.384 45.5624 29.928C45.5624 29.928 45.7544 29.688 46.1864 29.64C46.4264 29.592 46.7144 29.592 47.0504 29.496C48.7784 29.208 50.3144 27.72 51.7064 25.992C51.7544 25.896 51.8984 25.704 51.8504 25.56C51.8504 25.416 51.8504 25.224 51.6584 25.176C51.5144 24.984 51.2264 24.984 51.0344 25.176C50.7944 25.368 50.6024 25.608 50.1224 26.184C49.4984 26.904 48.8744 27.672 47.6744 28.056C47.2424 28.2 46.8584 28.344 46.4264 28.392C46.1384 28.392 45.4664 28.392 45.4664 28.392L45.3224 27.528C45.0824 26.232 45.0344 24.552 43.6904 23.928C43.0664 23.64 42.1064 23.592 41.5304 24.024C40.7144 24.6 40.4744 25.32 40.4744 26.424C40.4744 27.288 40.9544 28.248 41.6744 28.728C42.1544 29.016 42.6824 29.304 43.2584 29.544C43.8344 29.784 44.0264 29.832 44.0264 29.976C43.5464 33.048 43.2584 34.392 42.0584 36.552C41.5304 37.512 40.4264 38.664 39.3224 38.472C38.7464 38.376 38.1704 37.416 38.1224 36.792C37.5944 34.296 37.6424 32.664 37.7864 30.456C37.8824 29.352 38.0744 28.296 38.2664 27.192C38.6024 25.272 39.8984 23.976 39.8984 23.976C45.1304 16.92 51.0824 2.856 47.6264 0.839999C46.4264 0.0719976 43.9784 1.272 42.5864 3.048C39.8504 5.784 37.7864 11.544 36.7784 14.76C34.5704 21.672 33.6584 29.592 33.6104 31.08C33.3224 34.92 34.9544 37.992 35.3864 38.472C36.6824 39.96 38.6024 40.632 39.9944 40.152ZM39.0824 22.296C38.3624 21.864 39.4184 17.88 39.7064 16.152C40.0424 14.28 41.4824 9.336 42.0584 7.608C42.7304 5.832 43.8344 3.384 44.9864 2.472C45.5624 2.04 46.9064 1.512 47.4824 2.472C48.1064 3.48 45.7064 10.632 45.0344 12.264C43.6424 15.768 42.6344 17.16 40.7624 20.472C40.2824 21.336 39.4664 22.536 39.0824 22.296ZM44.5544 28.44C44.4104 28.536 43.4504 28.104 42.7784 27.288C42.2504 26.712 42.2984 25.752 42.8264 25.368C43.3064 25.032 43.7864 25.512 43.9784 25.992C44.3144 26.76 44.7464 28.248 44.5544 28.44ZM54.7488 58.872C55.8047 59.352 57.2448 59.304 58.5408 58.2C60.8928 56.184 62.2848 53.016 63.2448 48.552C63.6768 46.44 64.3968 43.704 64.9248 40.728C65.2608 38.856 65.5488 37.368 65.6448 37.08C66.8448 35.64 68.9088 33.768 70.2528 30.744C70.6368 29.928 71.1648 28.728 71.2608 28.344C71.4048 27.96 71.3568 27.432 70.9728 27.336C70.7328 27.24 70.3968 27.864 70.3488 28.056C69.6288 29.736 67.9008 33.864 65.7888 34.92C65.3088 35.16 65.3088 34.968 65.3568 34.44C65.5968 30.36 65.9808 26.808 66.0288 25.32C66.1728 23.496 66.0768 22.344 65.5968 21.096C65.3568 20.424 64.2048 20.136 63.6768 20.712C61.8528 22.728 59.4528 29.4 58.9728 30.264C58.0608 31.896 57.4848 33.432 55.6128 35.64C55.1808 36.12 54.1728 36.792 53.8368 36.456C53.3568 36.216 53.5968 34.632 53.7888 33.48C54.9408 26.472 54.5568 29.304 55.1808 22.968C55.1808 21.96 55.3248 21.192 54.7968 20.328C54.6048 19.992 54.2688 19.656 53.8848 19.704C53.4528 19.752 53.0688 19.896 52.8288 20.232C51.7248 21.432 51.4368 23.4 51.1008 25.656C50.7648 27.528 48.9407 35.976 49.9488 37.896C50.6208 39.144 51.5808 39.288 53.0208 39C53.9808 38.808 55.0368 37.992 55.3728 37.656C57.4368 36.024 58.1088 35.112 59.4048 32.52L62.6688 26.184C62.5728 30.264 62.0448 34.344 61.2288 38.424C60.5088 39.816 58.6848 42.216 57.3408 44.184C54.3168 48.6 51.1968 57.24 54.7488 58.872ZM54.9888 57.624C53.3088 56.664 54.8448 50.712 56.7648 47.256C56.9568 46.92 60.8448 40.536 61.1808 40.728C61.4688 40.776 61.4688 41.4 60.9888 43.752C60.1248 48.12 58.9728 52.392 57.8208 55.512C57.1968 57.192 56.2848 58.344 54.9888 57.624ZM72.4728 38.952C72.9048 38.856 73.6248 38.52 74.4408 37.704C75.3528 36.888 76.0728 35.784 76.8888 34.152C77.3688 33.144 77.6568 32.616 78.2328 31.512C78.8568 30.456 79.6728 28.728 80.4888 27.72C80.6328 27.528 80.8248 27.48 80.9208 27.528C81.0648 27.576 81.0648 27.768 81.0648 27.912C81.0648 31.944 79.9608 34.392 80.3448 36.264C80.4888 37.08 80.8728 38.28 81.9768 38.808C84.1368 39.72 85.3848 39 87.4488 35.832C88.4568 34.344 89.5128 31.8 90.2328 29.976L91.1448 27.72C91.2408 27.528 91.4808 27.48 91.5768 27.528C91.7208 27.576 91.7208 27.768 91.7208 27.912C91.7208 31.944 90.6168 34.392 91.0008 36.264C91.1448 37.08 91.5288 38.28 92.6328 38.808C94.7928 39.72 97.4808 39 99.5448 35.832C101.129 33.432 103.001 28.2 103.145 27.816C103.289 27.384 103.529 26.904 103.577 26.376C103.577 26.184 103.433 25.992 103.241 25.992C103.097 25.944 103.049 25.944 102.953 25.992C102.665 26.28 102.473 26.616 102.377 27.048C101.417 30.456 97.6248 38.184 95.2728 36.84C94.2648 36.264 94.4088 35.112 94.8408 32.28C95.4167 28.728 95.5608 27.144 95.7528 21.816C95.7528 21.336 95.4648 20.856 95.1288 20.568C94.6008 20.04 92.3448 20.856 92.0088 21.384C90.8568 23.016 90.7128 25.608 90.3768 26.616C89.6088 29.016 88.8888 30.552 88.1208 32.376C86.7288 35.208 85.1928 37.656 84.6168 36.84C83.9448 35.88 83.7528 35.112 84.1848 32.28C84.7608 28.728 84.9048 27.144 85.0968 21.816C85.0968 21.336 84.8088 20.856 84.4728 20.568C84.1848 20.28 83.1288 20.376 82.8888 20.808C82.6488 21.24 82.2648 21.816 81.9768 22.248C80.8248 23.88 79.8168 26.472 79.3848 27.24C78.2328 29.304 76.6968 32.136 75.9288 33.576C74.9208 35.448 74.2488 37.416 73.3848 36.552C73.0488 35.976 73.3368 33.288 73.6248 31.752C74.0568 29.688 74.8728 25.272 75.0648 22.44C75.1128 21.912 74.9688 20.664 74.7288 20.04C74.3448 19.416 73.9128 19.464 73.2408 19.608C72.5688 19.752 72.3288 20.232 72.2328 20.52C71.7048 21.864 70.9848 25.512 70.7448 26.808C70.1688 29.736 69.1608 33.672 69.2088 37.272C69.2088 38.232 70.4088 39.384 72.4728 38.952ZM92.2008 44.76C92.9688 44.904 93.6888 43.992 92.1048 43.272C88.2168 41.544 77.4648 42.12 73.8168 41.928C71.5128 41.784 72.2328 43.704 76.1208 43.32C78.9528 43.032 85.7688 43.56 92.2008 44.76ZM122.691 25.992C122.547 25.944 122.499 25.944 122.403 25.992C122.115 26.28 121.923 26.616 121.827 27.048C120.867 30.456 117.891 38.232 114.099 37.848C112.227 37.656 112.898 29.784 112.562 28.2C112.323 27 111.171 25.992 110.403 25.896C112.131 24.12 113.715 22.584 114.243 22.248C115.299 21.528 116.211 20.28 116.931 20.808C117.651 21.336 117.987 20.376 117.507 20.04C116.403 19.224 114.627 20.328 113.571 21.144C110.931 23.208 107.235 27.72 106.803 28.056C106.371 28.392 106.035 28.632 105.795 28.824C106.131 26.712 106.515 24.264 106.659 22.44C106.707 21.912 106.562 20.664 106.323 20.04C105.939 19.416 105.507 19.464 104.835 19.608C104.163 19.752 103.923 20.232 103.827 20.52C103.299 21.864 102.579 25.512 102.339 26.808C101.763 29.736 100.803 33.672 100.803 37.272C100.803 39.336 102.963 40.392 104.403 38.424C104.835 37.8 104.931 34.68 105.075 32.76L105.939 31.32C106.467 30.408 107.475 29.112 108.627 27.816C108.819 28.008 108.915 28.488 108.963 29.736C109.011 31.752 108.195 37.896 110.931 39C113.091 39.864 116.931 39 118.995 35.832C120.579 33.432 122.451 28.2 122.595 27.816C122.739 27.384 122.979 26.904 123.027 26.376C123.027 26.184 122.883 25.992 122.691 25.992ZM124.852 39.336C127.924 38.76 129.46 34.392 130.9 31.176C130.948 31.08 131.188 30.648 131.572 30.648C131.716 30.648 131.86 30.792 131.86 31.032C131.908 31.848 131.86 32.664 131.86 33.48C131.86 34.056 131.908 34.68 131.956 35.304C132.052 36.552 132.628 38.28 133.876 38.808C136.036 39.72 138.724 39 140.788 35.832C142.372 33.432 144.244 28.2 144.388 27.816C144.532 27.384 144.772 26.904 144.82 26.376C144.82 26.184 144.676 25.992 144.484 25.992C144.34 25.944 144.292 25.944 144.196 25.992C143.908 26.28 143.716 26.616 143.62 27.048C142.66 30.456 139.108 37.56 136.516 36.84C136.036 36.696 135.652 36.264 135.652 35.544C135.652 33.384 135.652 31.272 135.7 29.16C135.7 27.24 135.7 25.32 135.556 23.4C135.556 22.968 135.364 22.632 135.172 22.248C134.836 21.816 134.26 21.864 133.876 22.248C133.156 22.92 133.252 23.64 133.012 25.128C132.82 25.512 132.676 25.896 132.484 26.232C131.956 27.288 131.38 28.392 130.756 29.448C129.076 32.568 128.02 35.208 126.148 36.648C125.524 37.128 124.324 36.984 124.132 35.976C123.412 32.568 123.892 26.76 126.436 23.064C127.876 21 129.46 20.232 130.948 20.712C131.956 20.904 130.18 23.928 131.38 23.928C131.572 23.928 131.716 23.928 132.004 23.64C132.484 22.824 132.58 22.296 132.58 21.384C132.58 20.376 132.004 19.512 131.044 19.416C128.452 19.032 125.428 20.952 123.796 23.208C120.388 27.864 119.524 33.768 120.916 37.32C121.636 38.664 123.316 39.624 124.852 39.336ZM165.93 39.192C173.514 39 175.29 33.096 175.866 32.52C176.442 31.944 175.818 31.032 175.002 31.896C174.186 32.76 172.794 37.56 165.594 37.608C158.394 37.656 161.226 24.36 161.898 21C162.57 17.64 167.034 1.608 173.754 1.608C177.834 1.608 178.074 4.92 177.93 5.784C177.786 6.648 178.842 6.936 178.842 5.928C178.746 3.864 178.842 0.647999 173.85 0.647999C166.362 0.647999 159.546 9.816 157.434 20.76C155.322 31.704 158.346 39.384 165.93 39.192ZM181.231 38.856C183.007 38.04 184.111 35.448 185.503 32.664C185.839 31.992 186.703 29.496 187.231 29.208C188.623 28.92 190.783 27.96 192.847 25.656C192.895 25.56 193.039 25.368 192.991 25.224C192.991 25.08 193.087 24.936 192.895 24.888C192.751 24.696 192.463 24.696 192.271 24.888C192.031 25.08 191.839 25.368 191.359 25.752C190.159 26.76 189.103 27.48 187.663 27.624C187.567 27.528 187.855 26.28 187.855 25.08C187.855 24.216 187.711 23.448 187.279 22.728C187.135 22.488 186.943 22.2 186.703 22.056C186.319 21.864 186.127 21.528 185.887 21.192C185.503 20.568 185.167 20.28 184.447 20.04C184.159 19.944 183.391 19.944 183.007 19.992C181.711 20.136 180.415 20.76 179.503 21.72C176.863 24.408 176.143 27.288 175.567 29.976C175.327 31.56 175.279 34.632 175.807 36.312C176.527 38.568 179.071 39.912 181.231 38.856ZM180.607 37.512C179.647 37.656 179.071 35.304 179.023 34.632C178.927 33.336 178.975 29.784 179.455 27.336C180.271 23.304 181.807 21.336 183.775 21.048C184.447 20.952 184.735 22.008 184.735 22.008C183.151 22.824 182.911 24.552 183.055 25.8C183.151 27 184.015 28.392 185.407 28.92C185.791 29.064 185.647 29.784 185.503 30.12C184.639 32.328 183.823 33.864 182.959 35.352C182.479 36.216 181.519 37.368 180.607 37.512ZM186.367 27.336C185.983 27.384 185.359 26.856 185.167 26.568C184.591 25.704 184.399 25.224 184.639 23.784C184.687 23.544 184.975 23.016 185.551 22.92C186.031 22.824 186.559 23.256 186.655 23.88C186.751 24.312 186.799 24.648 186.799 25.224C186.799 25.512 186.655 27.288 186.367 27.336ZM213.085 27.576C212.941 27.528 212.653 27.528 212.461 28.008C211.501 30.504 209.485 34.248 208.669 35.256C207.469 36.744 206.605 37.464 205.693 37.464C205.213 37.464 204.205 37.128 204.301 35.688C204.349 34.968 204.973 31.368 205.453 28.776C205.837 26.664 206.461 23.496 206.461 21.528C206.461 20.28 205.309 19.656 204.157 20.184C203.917 20.28 203.629 20.904 203.533 21.144C203.197 22.584 202.621 25.416 202.093 28.008C199.165 28.824 196.333 29.448 194.221 29.784L194.413 28.776C194.797 26.664 195.421 23.496 195.421 21.528C195.421 20.28 194.269 19.656 193.117 20.184C192.877 20.28 192.589 20.904 192.493 21.144C192.109 22.872 191.389 26.568 190.717 29.448L190.573 30.024C188.221 30.36 188.125 31.848 189.853 31.56L190.237 31.512C189.949 32.808 189.565 34.68 189.181 37.512C188.845 39.816 192.157 42.072 193.261 35.688C193.261 35.16 193.597 33.144 193.981 31.08C196.429 30.792 199.357 30.456 201.661 29.88C201.421 30.984 201.085 32.76 200.941 33.672C200.173 37.848 201.853 39.816 205.309 39.192C208.813 38.568 211.213 33.48 212.653 29.784C212.893 29.16 213.085 28.824 213.277 28.296C213.373 28.008 213.373 27.672 213.085 27.576ZM231.287 26.52C231.143 26.472 230.855 26.472 230.663 26.952C229.703 29.448 228.407 32.088 226.487 34.92C225.479 36.456 224.039 37.56 223.127 37.56C222.647 37.56 222.023 37.128 222.119 35.688C222.167 34.968 223.175 30.744 223.655 28.152C224.039 26.04 224.663 22.872 224.663 20.904C224.663 19.656 223.511 19.032 222.359 19.56C222.215 19.608 222.071 19.848 221.927 20.088C221.063 19.512 219.719 18.984 217.655 19.704C215.591 20.424 213.671 21.864 212.711 24.312C211.751 26.76 211.799 30.936 216.263 30.744C217.415 30.696 218.279 30.504 218.903 30.168C218.087 32.136 217.127 34.392 216.071 36.12C215.063 37.704 214.295 38.088 213.239 37.8C211.703 37.368 211.847 35.736 212.231 33.912C212.519 32.568 210.839 32.616 210.503 33.432C209.783 35.112 210.023 38.184 212.855 38.808C215.303 39.336 217.031 38.28 219.815 30.696L219.287 33.672C218.663 37.608 219.671 39.912 223.127 39.192C226.103 38.568 229.511 32.424 230.951 28.728C231.191 28.104 231.383 27.768 231.575 27.24C231.671 26.952 231.575 26.616 231.287 26.52ZM216.647 29.256C214.199 27.96 216.407 21.912 218.327 20.568C219.719 19.608 220.919 20.232 221.639 20.856C221.495 21.624 221.303 22.728 221.111 23.976C220.151 26.712 218.663 30.312 216.647 29.256Z" fill="#fff"/></svg></a>
            <div class="social pt-4"><a class="social__link" href="#"><img class="lazyload" data-src="images/inst.svg" alt="img"></a><a class="social__link ml-4" href="#"><img class="lazyload" data-src="images/vk.svg" alt="img"></a></div>
          </div>
          <div class="col-lg-3 d-flex flex-column pt-5 pt-lg-0"><a class="tel" href="tel:8 982 344 56 78"><img class="mr-3 lazyload" data-src="images/tel.svg" alt="img">8 982 344 56 78</a><a class="tel mt-5" href="mail:info@mail.ru"><img class="mr-3 lazyload" data-src="images/mail.svg" alt="img">info@mail.ru</a></div>
        </div>
      </div>
    </footer>
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </body>
  <script src="js/main.min.js"></script>
</html>
